.tile {
    position: absolute;
    width: calc(var(--pixel-size) * 8);
    height: calc(var(--pixel-size) * 8);
    margin: calc(var(--pixel-size) * 0.5);
    border-radius: calc(var(--pixel-size) * 0.5);
    background: var(--tile-background);
    color: var(--primary-text-color);
    font-size: calc(var(--pixel-size) * 4);
    line-height: calc(var(--pixel-size) * 8);
    font-weight: bold;
    text-align: center;
    transition-property: left, top, transform;
    transition-duration: 200ms, 200ms, 100ms;
}

@media (min-width: 512px) {
    .tile {
        width: calc(var(--pixel-size) * 12.5);
        height: calc(var(--pixel-size) * 12.5);
        margin: calc(var(--pixel-size) * 1);
        font-size: calc(var(--pixel-size) * 6);
        line-height: calc(var(--pixel-size) * 12.5);
    }
}

/* -=-=-=- START OF TEXT COLOR -=-=-=- */
.tile2,
.tile4,
.tile8,
.tile16,
.tile32,
.tile64,
.tile128,
.tile256,
.tile512,
.tile1024,
.tile2048,
.tile4096,
.tile8192,
.tile16384,
.tile32768,
.tile65536 {
    color: var(--tg-theme-button-text-color);
}
/* -=-=-=-= END OF TEXT COLOR =-=-=-=- */

/* -=-=-=- START OF TEXT SIZE -=-=-=- */
.tile128,
.tile256,
.tile512 {
    font-size: calc(var(--pixel-size) * 3.25);
}

.tile1024,
.tile2048,
.tile4096,
.tile8192 {
    font-size: calc(var(--pixel-size) * 2.75);
}

.tile16384,
.tile32768,
.tile65536 {
    font-size: calc(var(--pixel-size) * 2.25);
}

@media (min-width: 512px) {
    .tile128,
    .tile256,
    .tile512 {
        font-size: calc(var(--pixel-size) * 5.5);
    }

    .tile1024,
    .tile2048,
    .tile4096,
    .tile8192 {
        font-size: calc(var(--pixel-size) * 4);
    }

    .tile16384,
    .tile32768,
    .tile65536 {
        font-size: calc(var(--pixel-size) * 3.25);
    }
}
/* -=-=-=-= END OF TEXT SIZE =-=-=-=- */

.tile2 {
    background: color-mix(in srgb, var(--tg-theme-button-color), black 60%);
}

.tile4 {
    background: color-mix(in srgb, var(--tg-theme-button-color), black 30%);
}

.tile8 {
    background: var(--tg-theme-accent-text-color);
}

.tile16 {
    background: color-mix(
        in srgb,
        var(--tg-theme-destructive-text-color),
        var(--tg-theme-accent-text-color) 50%
    );
}

.tile32 {
    background: color-mix(
        in srgb,
        var(--tg-theme-destructive-text-color),
        var(--tg-theme-accent-text-color) 25%
    );
}

.tile64 {
    background: var(--tg-theme-destructive-text-color);
}

.tile128 {
    background: #e67e22;
}

.tile256 {
    background: #f39c12;
}

.tile512 {
    background: #f1c40f;
}

.tile1024 {
    background: #27ae60;
}

.tile2048 {
    background: #2ecc71;
}

.tile4096 {
    background: #00aba9;
}

.tile8192 {
    background: #8e44ad;
}

.tile16384 {
    background: #9b59b6;
}

.tile32768 {
    background: #f472d0;
}

.tile65536 {
    background: #d80073;
}
